<div class="login">
    <div class="dropdown">
        <span class="login__icon la la-user"></span>
        <button class="btn btn-link dropdown-toggle login__button" type="button" data-toggle="dropdown">
            <span class="login__title">
                Hello, <span class="login__name">@User.GetName()</span>
            </span>
        </button>
        <div class="dropdown-menu login__actions">
            <h6 class="dropdown-header">General</h6>
            <a class="dropdown-item login__action" href="@Url.Action("Index", "Users")">
                <span class="login__action-icon la la-group"></span>
                <span class="login__action-name">Users</span>
            </a>
            <a class="dropdown-item login__action" href="@Url.Action("Index", "Robots")">
                <span class="login__action-icon la la-globe"></span>
                <span class="login__action-name">Robots</span>
            </a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Content</h6>
            <a class="dropdown-item login__action" href="@Url.Action("Index", "Pages")">
                <span class="login__action-icon la la-file-text"></span>
                <span class="login__action-name">Pages</span>
            </a>
            <a class="dropdown-item login__action" href="@Url.Action("Index", "Dump")">
                <span class="login__action-icon la la-exchange"></span>
                <span class="login__action-name">Import/Export</span>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item login__action text-danger" href="@Url.Action("Logout", "Account")">
                <span class="login__action-icon la la-sign-out"></span>
                <span class="login__action-name">Logout</span>
            </a>
        </div>
    </div>
</div>