@model UsersEditCommand

@{
    Title = "Users";
}

@section PageActions {
    <button type="button" class="btn btn-link btn-sm page__action la la-plus" title="Add new user" data-action="add" data-url="@Url.Action("Add")"></button>
}

<h1 class="page__title">@Title</h1>

<table class="table table__users" data-remove-url="@Url.Action("Remove")">
    <thead class="thead-light">
        <tr>
            <th>Allowed email</th>
            <th width="50" title="Actions" class="text-center"><i class="la la-cog"></i></th>
        </tr>
    </thead>
    <tbody>
        @foreach (string email in Model.Emails)
        {
            <tr data-email="@email">
                <td>
                    <a href="mailto:@email" class="text-primary">@email</a>
                </td>
                <td class="text-center">
                    <button type="button" class="btn btn-link text-danger" title="Remove email" data-action="remove"><i class="la la-trash"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <bundle name="~/js/users.min.js"></bundle>
}