@using Documentor.Framework.Navigation;
@model Nav
@{
    Title = "Pages";
}

@section Styles {
    <link asp-href-include="~/assets/css/vendors/jstree.min.css" rel="stylesheet">
    <link asp-href-include="~/assets/css/app/app-jstree.min.css" rel="stylesheet">
}
<h1 class="page__title">@Title</h1>

<div class="tree">
    <div class="tree__actions">
        <div class="btn-group flex-wrap">
            <button type="button" class="btn btn-primary button" data-action="add" data-url="@Url.Action("Add")" title="Add new"><i class="la la-plus button__icon"></i>Add</button>
            <button type="button" class="btn btn-secondary button" disabled="disabled" data-action="edit" data-url="/m/Edit" title="Edit selected"><i class="la la-edit"></i></button>
            <button type="button" class="btn btn-secondary button" disabled="disabled" data-action="modify" data-url="@Url.Action("Modify")" title="Modify selected"><i class="la la-gear"></i></button>
            <button type="button" class="btn btn-secondary button" disabled="disabled" data-action="delete" data-url="@Url.Action("Delete")" title="Delete selected"><i class="la la-trash"></i></button>
        </div>
        <input type="hidden" data-action="move" data-url="@Url.Action("Move")" />
    </div>
    <div class="tree__items">
        @await Html.PartialAsync("_PagesTree", Model.Items)
    </div>
</div>


@section Scripts {
    <script asp-src-include="~/assets/js/vendors/jstree.min.js"></script>
    <script asp-src-include="~/assets/js/app/app-pages.min.js"></script>
}